<%- include('../layout') %>
<h1>Login</h1>
<form action="/users/login-view" method="POST">
  <label>Email:</label>
  <input type="email" name="email" required>
  <label>Password:</label>
  <input type="password" name="password" required>
  <button type="submit">Login</button>
</form>
<a href="/users/add">Register</a>